/*Det er den overordnede struktur i vores body*/
body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


/*Det er vores logo-billede i headeren*/
.logo IMG{
   position:sticky;
   margin-top: 15px;
   margin-left: 27%;
   margin-bottom: 10px;
}




/*Det er vores navigationsbar med tilpasning og styling*/
/*link til kilde:https://www.youtube.com/watch?v=8Ua5qeGnYGM */
ul{
padding: 0;  
margin: 0 0 0 100px;
list-style: none;
}

nav{
width: 100%;
overflow: auto;
background:#C7AF9A;
display: flex;
align-items: center;
justify-content: center;
}

li{
float: left;
}

li a {    
width: 100px;
display: flex;
padding: 15px 60px;
text-decoration:none;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
color: #222222;
text-align: center;
font-size: 20px;
justify-content: center;
}

/*Det er vores hover til navigationsbaren (mouseover) + styling af den */
li a:hover{
background: #C7AF9A;
text-decoration:underline;
text-transform: uppercase;
display: flex;
align-items: center;
justify-content: center;
}




/*Det er forsidens indhold med tilpasning og styling af overskift, tekstindhold og booking-knap*/
h1{
text-align: center;
font-size: 40px;
}

p{
text-align: center;
font-size: 20px;
}

.book{
text-align: center;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
border: solid;
border-color: #222222;
padding: 8px 100px;
text-decoration:solid;
border-radius: 50px;
display: inline;
margin-left: 37%;
}




/*Herunder skal SHOP-sidens indhold stå*/




/*Herunder skal OM OS-sidens indhold stå*/




.wrapper { 
    display:flex; 
    flex-wrap:wrap;
    justify-content: space-between; 
    width: 100vmax; 
}

.box1 { 
    flex: 0 0 100%; 
    height: 50%; 
    text-align:center; 
    overflow:visible;
    background:#C7AF9A;
}

.box2 { 
    flex: 0 0 100%; 
    height: 50%; 
    text-align:center; 
    overflow:visible;
    background:#C7AF9A;
}
.trine{
    width: 15%;
}

.roberta{
    width: 15%;
}

/*KONTAKT-sidens indhold med kontaktoplysninger, åbningstider og find-vej-kort*/
.kontakt {
text-align: center;
font-size: large;
}

.kontakt p {
text-align: center;  
font-size: small;
font: weight 800px;;
}

.kort-billede {
align-content: center;
width: 1400px;
}
    






/*Det er vores footer med tilpasning og styling*/
/*Kilde: https://www.youtube.com/watch?v=tP0rjyVZhrY*/
*{
top:0%;
left: 0%;
}

/*Footerens overordnede struktur + styling med størrelser, farver og placering af tekst*/
.footer{
width: 100%;
height: 65vh;
margin-left: 0%;
font-family: initial;
font-size: small;
background-color: #222222;
margin-top: 15%;
display: flex;
}

.footer .divfooter{
width: 20%;
height: 80%;
margin-left: 5.5%;
margin-top: 2.5%;
color: #A3A3A3;
}

.divfooter ul{
list-style: none;
margin-left: 0%;
font-size: 18px;
}

.divfooter ul li{
margin-top: 5%;
letter-spacing: 3px;
transition: 1s ease;
cursor: pointer;
}

.divfooter h2{
font-size: 25px;
}

/*Det er vores hover (mouse-over) + ikoner med sociale medier - Tilpasning og styling*/
.divfooter ul li:hover{
transform: translateX(10%);
}

#follow ul{
display: flex;
}

#follow ul .lii{
margin-left: 5%;
}

#follow ul li:hover{
transform: translateX(0%);
color: #C7AF9A;
cursor: pointer;
}

.borderline{
width: 20%;
height: 0.5vh;
background-color: #C7AF9A;
margin-top: -5%;
}